<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
  </head>

  <body>
    <div id="app">
      <ul>
        <li v-for="item in list">{{ item }}</li>
      </ul>

      <ul>
        <li v-for="user in users">{{ user.id }} {{ user.name }}</li>
      </ul>

      <table border="1" @click="myFunc2">
        <thead>
          <th>id</th>
          <th>name</th>
        </thead>
        <tbody>
          <tr v-for="user in users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
          </tr>
        </tbody>
      </table>

      <div style="margin-top: 20px">
        <button @click="high">Counter = {{ counter }}</button>
      </div>

      <div style="margin-top: 20px">
        <button @click="getHashtags">Get Hashtags</button>

        <ul>
          <li v-for="hashtag in hashtags">{{ hashtag }}</li>
        </ul>
      </div>

      <div style="margin-top: 20px">
        <button @click="getCities">Get Cities</button>

        <ul>
          <li v-for="city in cities">{{ city.region }}: {{ city.city }}</li>
        </ul>
      </div>

      <div style="margin-top: 20px">
        <h3>{{ text }}: {{ text.length }}</h3>
        <input type="text" size="30" v-model="text" />
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          list: ["1", "2", "3"],
          users: [
            {
              id: "1",
              name: "Denis",
            },
            {
              id: "2",
              name: "Sined",
            },
          ],
          counter: 1,
          hashtags: [],
          cities: [],
          url: {
            hashtags: "https://dka-develop.ru/api?type=hashtag",
            cities: "https://dka-develop.ru/api?type=city",
          },
          text: "",
        },
        watch: {
          text: function () {
            if (this.text.length > 3) {
              this.text = "My Text";
            }
          },
        },
        created: function () {
          this.high();
        },
        methods: {
          myFunc() {
            alert("myFunc");
          },
          myFunc2: function () {
            alert("myFunc2");
          },
          high() {
            this.counter++;
          },
          getHashtags() {
            axios.get(this.url.hashtags).then((response) => {
              //стрелочная функция
              console.log(response.data);
              this.hashtags = response.data;
            });

            // axios.get(this.url.hashtags).then(function(response) { //call back
            //     console.log(response.data);
            //     this.hashtags = response.data;
            // });
          },
          getCities() {
            axios.get(this.url.cities).then((response) => {
              //стрелочная функция
              console.log(response.data);
              this.cities = response.data;
            });
          },
        },
      });
    </script>
  </body>
</html>
